<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja">
	<head>
		<link rel="icon" href="../favicon.ico" />
		<title><%= name %></title>
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="<%= name %>" />
		<meta name="twitter:description" content="バーチャルキャスト<%= id %>回目のマーケット！データ提出不要のバーチャル展示会。<%= start %>より公開。" />
		<meta name="twitter:image" content="https://casmarket.github.io/<%= id %>/images/twitter-image.png" />
		<meta name="twitter:image:alt" content="" />
		<link rel="canonical" href="https://casmarket.github.io/<%= id %>/" />
		<meta name="viewport" content="width=device-width" />
		<script type="module" src="../scripts/index.js?20230327"></script>
	</head>
	<body>
		<cas-market></cas-market>
	</body>
</html>
